# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Gradle
.gradle/
build/
**/build/
*.log

# Local configuration
local.properties
.gradle/
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks

# OS generated
.DS_Store
Thumbs.db

# Others
*.swp
*.bak
*.tmp

# Android specific
**/captures/
output.json
